# Geçici test dosyaları
*.raw
*.wav
*.mp3

# Derlenmiş binary dosyalar
tsonic-rec
tsonic-fft
generator
encoder
test.txt
tsonic-send
tsonic-sound
tsonic-recv
binary_test.bin
cikti.txt
test_mesaj.txt
cikti.bin
